.content {
  display: flex;
  flex-direction: column;
  align-items: center;
	background-color: snow;
}

.header {
  display: flex;
  width: 900px;
  justify-content: space-evenly;
}

.titleAndButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pageTitle {
  font-size: 40px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

.titleLine {
  width: 100%;
}

.titlePic {
  width: 170px;
}

.weddingContainer {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.weddingInfo {
  width: 30%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: 130px;
	font-family: Arial;
	font-size: 15px;
	color: gray;
}

.inputBox {
	padding:10px;
  border:0;
	border-radius: 10px;
  box-shadow:0 0 10px 4px rgba(0,0,0,0.06);
}

#resetBtn {
  width: 100px;
  margin: auto;
}

.weddingInvitation {
  background-image: url(images/cherryblossom.jpg);
  background-size: cover;
  width: 45%;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Cormorant', serif;
  color: darkslategray;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0.2);
  padding: 10px;
}

#invitationPhrase {
  font-size: 14px;
  letter-spacing: 0.5px;
}

#andPunctuation {
  margin: 0;
}

#brideNameOne {
  font-size: 45px;
  margin-bottom: 20px;
}

#groomNameOne {
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#weddingDate {
  font-size: 22px;
}

#weddingTime {
  margin: 0;
  font-size: 20px;
}

#weddingLocation {
  font-size: 20px;
  word-wrap: break-word;
  width: 200px;
  margin: 16px auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.button {
  background-color: white;
  border: none;
  color: #eec0c8;
  border: 2px solid #eec0c8;
  border-radius: 50%;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #FFF5EE;
}
